$bp-largest: 87.5em; // 1400px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-large) {
		font-size: 40%;
	}
}

body {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background-color: PapayaWhip;
	background-image: linear-gradient(LightGoldenrodYellow, LemonChiffon, LightGoldenrodYellow);
}

#backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100svh;
	backdrop-filter: blur(0);
	z-index: 5;
	pointer-events: none;
	transition: all 0.5s;
}

.header {
	display: flex;
	background-color: burlywood;
	height: 10rem;
	align-items: center;
	position: relative;
}

#logo {
	max-height: 100%;
	margin-right: 5rem;

	@media only screen and (max-width: $bp-small) {
		margin-right: 2rem;
	}
}

.nav {
	display: flex;
	align-items: center;
	position: static;
	box-shadow: none;
	padding: 0;
	background-color: burlywood;
	list-style: none;
	z-index: 10;
	transition: all 0.5s;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
		padding: 3rem;
		box-shadow: 0 1rem 2rem rgba(#000, 0.15);
		position: absolute;
		top: 10rem;
		border-radius: 3px;
		right: -100%;
	}

	&__item {
		width: max-content;
		text-align: center;

		&:not(:last-child) {
			margin-right: 2rem;

			@media only screen and (max-width: $bp-medium) {
				margin-right: 0;
			}
		}
	}

	&__link:link,
	&__link:visited {
		font-size: 2.3rem;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1rem 2rem;
		color: #000;
		transition: all 0.2s;
		border-radius: 5px;
	}

	&__link:hover {
		transform: translateY(-3px) scale(1.05);
		box-shadow: 0 1rem 2rem rgba(#000, 0.4);
		background-color: darken(burlywood, 5%);
	}

	&__link:active {
		transform: translateY(0) scale(1);
		box-shadow: none;
		background-color: burlywood;
	}
}

.accesso {
	font-size: 2.2rem;
	margin-left: auto;
	margin-right: 2rem;

	margin-right: 3rem;

	@media only screen and (max-width: $bp-small) {
		margin-right: 0;
		text-align: center;
	}

	&__link:link,
	&__link:visited {
		color: #000;
		text-decoration: none;
		display: inline-block;
		padding: 1rem 2rem;
		transition: all 0.2s;
		border-radius: 5px;
		&:not(:last-child) {
			margin-right: 3rem;
			@media only screen and (max-width: $bp-small) {
				margin-right: 0;
			}
		}
	}

	&__link:hover {
		transform: translateY(-3px) scale(1.05);
		box-shadow: 0 1rem 2rem rgba(#000, 0.4);
		background-color: darken(burlywood, 5%);
	}

	&__link:active {
		transform: translateY(0) scale(1);
		box-shadow: none;
		background-color: burlywood;
	}
}

#menu-btn {
	cursor: pointer;
}

.menu {
	width: 3rem;
	height: 1px;
	background-color: #333;
	margin: 2rem 3rem 2rem 0;
	display: none;

	@media only screen and (max-width: $bp-medium) {
		display: block;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		width: 3rem;
		height: 1px;
		background-color: #333;
	}

	&::before {
		transform: translateY(-1rem);
	}
	&::after {
		transform: translateY(0.8rem);
	}
}

.carousel {
	width: 60svw;
	height: 40svw;
	// height: 54rem;
	margin: 15rem auto;
	position: relative;

	& > button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		align-self: center;
		padding: 1rem 3rem;
		margin: 0 2rem;
		border-radius: 10px;
		font-size: 4rem;
		color: darken(burlywood, 20%);
		border: none;
		cursor: pointer;

		transition: all 0.2s;

		&#prev {
			left: 0;
			transform: translateY(-50%) translateX(-150%);
		}
		&#next {
			right: 0;
			transform: translateY(-50%) translateX(+150%);
		}

		@media only screen and (max-width: $bp-small) {
			font-size: 3rem;
			padding: 2rem;
		}

		&:hover {
			box-shadow: 0 1rem 2rem rgba(#333, 0.4);
			top: 49.5%;
		}

		&:active {
			box-shadow: none;
			top: 50%;
		}
	}

	@media only screen and (max-width: $bp-medium) {
		width: 75svw;
		height: 50svw;
	}
}

.banner {
	display: block;
	position: absolute;
	width: 100%;
	object-fit: contain;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.banner.active {
	opacity: 1;
}
